<% unless  logged_in? %>
  <div class="item">
    <article class="featured">
      <div class="overlay"></div>
      <figure>
        <img src="/assets/img-welcome.png" alt="Welcome" style="height: 100%;">
      </figure>
      <div class="details">
        <div class="category">
          <%= link_to "Đăng ký", signup_path %>
          <%= link_to "Đăng nhập", login_path %>
        </div>
        <h1>Đăng nhập để sử dụng đầy đủ các chức năng</h1>
      </div>
    </article>
  </div>
<% else %>
  <div class="item">
    <article class="featured">
      <div class="overlay"></div>
      <figure>
        <img src="/assets/img_life_skills.jpg" alt="Welcome" style="height: 100%;">
      </figure>
      <div class="details">
        <h1>Kho sách kỹ năng sống</h1>
      </div>
    </article>
  </div>
<% end %>
