<article class="article-fw">
  <div class="">
    <a href="#">
      <img src="/assets/toi-tai-gioi.jpg" alt="Toi tai gioi" class="book_cover_NewReview">
    </a>
    <div class="details">
      <div class="detail">
        <div class="time">December 31, 2016</div>
        <div class="category"><a href="category.html">Sport</a></div>
      </div>
      <h1><a href="single.html">Donec congue turpis vitae mauris</a></h1>
    </div>
  </div>
</article>
<div class="line"></div>
<article class="article-mini">
  <div class="row">
    <div class="col-xs-6 col-sm-3">
      <a href="single.html">
        <img src="/assets/img_life_skills.jpg" alt="Ảnh đại diện" class="img_user">
      </a>
    </div>
    <div class="col-xs-9 col-sm-9">
        <h1><a href="single.html">Duis aute irure dolor in reprehenderit in voluptate velit</a></h1>
        <div class="detail">
          <div class="category"><a href="category.html">Lifestyle</a></div>
          <div class="time">December 22, 2016</div>
        </div>
    </div>
  </div>
</article>
