<aside>
  <h1 class="aside-title">Những cuốn sách được đọc nhiều</h1>
  <div class="aside-body">
    <% if @top_read_books.any? %>
      <% @top_read_books.each do |book| %>
        <article class="article-mini">
          <div class="inner">
            <figure>
              <%= link_to book_path(book.id) do %>
                <%= image_tag book.image, class: "book_cover_mini popular", alt: "#{book.title}" %>
              <% end %>
            </figure>
            <div class="padding">
              <h1 class="title_book_mini"><%= link_to book.title, book_path(book.id) %></h1>
              <p class="author_book_mini">Tác giả: <span><%= book.author %></span></p>
            </div>
          </div>
        </article>
      <% end %>
    <% end %>
  </div>
</aside>
