<h1>Hệ thống đánh giá sách kỹ năng sống</h1>

<p>Chào <%= @user.full_name %>,</p>
<p>Nhấn vào liên kết bên dưới để thiết lập lại mật khẩu:</p>

<%= link_to "Thiết lập lại mật khẩu", edit_password_url(@user.reset_token, email: @user.email) %>

<p>
  Liên kết này sẽ hết hiệu lực sau 6 giờ. Nếu bạn không yêu cầu đặt lại mật khẩu, vui lòng bỏ qua email này và mật khẩu của bạn sẽ vẫn như cũ.
</p>
