<div class="container" style="padding-top: 100px;">
<% if @reviews.any? %>
  <% @reviews.each do |review| %>
  <div>
    <span style="color: red;"><%= review.id %>   </span><%= review.content.html_safe %>
    <%= link_to "Xóa", admin_review_path(review.id),
      method: :delete, data: {confirm: "Xác nhận"} , class: "btn btn-primary"%>
  </div>
  <% end %>
  <%= will_paginate @reviews %>
<% end %>
</div>
