<li class="nav-item dropdown hidden-caret">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-bell"></i>
    <span class="notification">3</span>
  </a>
  <ul class="dropdown-menu notif-box" aria-labelledby="navbarDropdown">
      <li>
        <div class="dropdown-title">Bạn có <span>1</span> thông báo mới</div>
      </li>
      <li>
        <div class="notif-center">
          <a href="#">
            <div class="notif-icon notif-primary"> <i class="fa fa-user-plus"></i> </div>
            <div class="notif-content">
              <span class="block">
                New user registered
              </span>
              <span class="time">5 minutes ago</span>
            </div>
          </a>
        </div>
      </li>
      <li>
        <a class="see-all" href="javascript:void(0);"> <strong>Xem tất cả thông báo</strong> <i class="fa fa-angle-right"></i> </a>
      </li>
  </ul>
</li>
