<li class="nav-item dropdown">
  <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false"> <img src="/assets/logo.png" alt="user-img" width="36" class="img-circle"><span >VanPhuoc</span></span> </a>
  <ul class="dropdown-menu dropdown-user">
    <li>
      <div class="user-box">
        <div class="u-img"><img src="/assets/logo.png" alt="user"></div>
        <div class="u-text">
          <h4>Van Phuoc</h4>
          <p class="text-muted">hello@themekita.com</p><a href="#" class="btn btn-rounded btn-danger btn-sm">Xem thông tin</a>
        </div>
      </div>
    </li>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item icon" href="#"><i class="fa fa-exchange"></i> Thay đổi mật khẩu</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item icon" href="#"><i class="fa fa-power-off"></i> Đăng xuất</a>
  </ul>
</li>
