<div class="sidebar">
  <div class="scrollbar-inner sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item active">
        <a href="index.html">
          <i class="fa fa-table"></i>
          <p>Thống kê</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="#">
          <i class="fa fa-users"></i>
          <p>Quản lý người dùng</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="#">
          <i class="fa fa-book"></i>
          <p>Quản lý sách</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="tables.html">
          <i class="fa fa-star"></i>
          <p>Quản lý bài đánh giá</p>
        </a>
      </li>
    </ul>
  </div>
</div>
