<div class="sidebar">
  <div class="scrollbar-inner sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item active">
        <%= link_to admin_root_path() do %>
          <i class="fa fa-table"></i>
          <p>Thống kê</p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "#" do %>
          <i class="fa fa-users"></i>
          <p>Quản lý người dùng</p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "#" do %>
          <i class="fa fa-book"></i>
          <p>Quản lý sách</p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "#" do %>
          <i class="fa fa-star"></i>
          <p>Quản lý bài đánh giá</p>
        <% end %>
      </li>
    </ul>
  </div>
</div>
