<!-- Start footer -->
<footer class="footer" style="padding-top: 9px;">
  <div class="container">
    <div class="contact" style="text-align: center;">
      <p>Mọi thắc mắc xin vui lòng liên hệ với chúng tôi theo các cách sau:</p>
      <ul class="social trp">
        <li>
          <a href="#" class="facebook">
            <svg><rect width="0" height="0"/></svg>
            <i class="fa fa-facebook-f"></i>
          </a>
        </li>
        <li>
          <a href="#" class="twitter">
            <svg><rect width="0" height="0"/></svg>
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="#" class="youtube">
            <svg><rect width="0" height="0"/></svg>
            <i class="fa fa-youtube"></i>
          </a>
        </li>
        <li>
          <a href="#" class="googleplus">
            <svg><rect width="0" height="0"/></svg>
            <i class="fa fa-google-plus"></i>
          </a>
        </li>
        <li>
          <a href="#" class="linkedin">
            <svg><rect width="0" height="0"/></svg>
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="#" class="skype">
            <svg><rect width="0" height="0"/></svg>
            <i class="fa fa-skype"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="copyright">
          COPYRIGHT &copy; 2018.
          <div>
            Made with <i class="fa fa-heart"></i> by vanphuoc
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->
