<ul class="nav-list">
  <li><a href="#"><i class="fa fa-home"></i></a></li>
  <li><a href="#">Giới thiệu Website</a></li>
  <li class="dropdown magz-dropdown magz-dropdown-megamenu"><a href="#">Lựa chọn nhanh <i class="fa fa-angle-down"></i></a>
    <div class="dropdown-menu megamenu">
      <div class="megamenu-inner">
        <div class="row">
          <div class="container" style="width: 100%;">
            <a href="#">
              <h2 class="megamenu-title">Xem tất cả các cuốn sách</h2>
            </a>
            <div class="row">
              <div class="col-md-12">
                <h2 class="megamenu-title">Các cuốn sách được yêu thích nhất</h2>
              </div>
            </div>
            <div class="row">
              <article class="article col-md-3 mini">
                <a href="">
                  <div class="inner">
                    <figure>
                      <img src="assets/goc-nhin-cua-nguoi-thong-thai.jpg" alt="Ảnh bìa">
                    </figure>
                    <div class="padding">
                      <p style="font-size: 12px; text-align: center;">Tieu de sach</p>
                    </div>
                  </div>
                </a>
              </article>
              <article class="article col-md-3 mini">
                <a href="">
                  <div class="inner">
                    <figure>
                      <img src="assets/goc-nhin-cua-nguoi-thong-thai.jpg" alt="Ảnh bìa">
                    </figure>
                    <div class="padding">
                      <p style="font-size: 12px; text-align: center;">Tieu de sach</p>
                    </div>
                  </div>
                </a>
              </article>              <article class="article col-md-3 mini">
                <a href="">
                  <div class="inner">
                    <figure>
                      <img src="assets/goc-nhin-cua-nguoi-thong-thai.jpg" alt="Ảnh bìa">
                    </figure>
                    <div class="padding">
                      <p style="font-size: 12px; text-align: center;">Tieu de sach</p>
                    </div>
                  </div>
                </a>
              </article>              <article class="article col-md-3 mini">
                <a href="">
                  <div class="inner">
                    <figure>
                      <img src="assets/goc-nhin-cua-nguoi-thong-thai.jpg" alt="Ảnh bìa">
                    </figure>
                    <div class="padding">
                      <p style="font-size: 12px; text-align: center;">Tieu de sach</p>
                    </div>
                  </div>
                </a>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li class="dropdown magz-dropdown">
    <a href="#">Trợ giúp <i class="fa fa-angle-down"></i></a>
    <ul class="dropdown-menu">
      <li><a href="#">Quy định của Website</a></li>
      <li class="dropdown magz-dropdown">
        <a href="#">Hướng dẫn <i class="ion-ios-arrow-right"></i></a>
        <ul class="dropdown-menu">
          <li><a href="login.html">Đăng nhập</a></li>
          <li><a href="register.html">Đăng ký</a></li>
          <li><a href="forgot.html">Kích hoạt tài khoản</a></li>
          <li><a href="reset.html">Thiết lập lại mật khẩu</a></li>
        </ul>
      </li>
      <li class="dropdown magz-dropdown">
        <a href="#">Liên hệ <i class="ion-ios-arrow-right"></i></a>
        <ul class="dropdown-menu">
          <li><a href="403.html">Facebook</a></li>
          <li><a href="404.html">Twitter</a></li>
          <li><a href="500.html">Youtube</a></li>
          <li><a href="503.html">Google Plus</a></li>
          <li><a href="503.html">Skype</a></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
