<ul class="nav-list">
  <li>
    <%= link_to root_path do %>
      <i class="fa fa-home"></i></a>
    <% end %>
  </li>
  <li><a href="#">Giới thiệu</a></li>

  <li class="dropdown magz-dropdown magz-dropdown-megamenu">
    <a href="#">Tùy chọn nhanh <div class="badge">Top</div>
      <i class="fa fa-angle-down"></i>
    </a>
    <div class="dropdown-menu megamenu">
      <div class="megamenu-inner">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <ul class="vertical-menu">
              <li><a href="#">Những cuốn sách được yêu thích nhất</a></li>
              <li><a href="#">Sách mới được thêm vào hệ thống</a></li>
              <li><a href="#">Những cuốn sách được đọc nhiều</a></li>
              <li>
                <%=link_to books_path do %>
                  Xem tất cả sách
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </li>

  <li class="dropdown magz-dropdown">
    <a href="#">Trợ giúp <i class="fa fa-angle-down"></i></a>
    <ul class="dropdown-menu">
      <li><a href="#">Quy định của Website</a></li>
      <li class="dropdown magz-dropdown">
        <a href="#">Hướng dẫn <i class="ion-ios-arrow-right"></i></a>
        <ul class="dropdown-menu">
          <li><a href="login.html">Đăng nhập</a></li>
          <li><a href="register.html">Đăng ký</a></li>
          <li><a href="forgot.html">Kích hoạt tài khoản</a></li>
          <li><a href="reset.html">Thiết lập lại mật khẩu</a></li>
        </ul>
      </li>
      <li class="dropdown magz-dropdown">
        <a href="#">Liên hệ <i class="ion-ios-arrow-right"></i></a>
        <ul class="dropdown-menu">
          <li><a href="403.html">Facebook</a></li>
          <li><a href="404.html">Twitter</a></li>
          <li><a href="500.html">Youtube</a></li>
          <li><a href="503.html">Google Plus</a></li>
          <li><a href="503.html">Skype</a></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
