<div class="best-of-the-week">
  <div class="container">
    <div class="line">
      <div>Top 4 cuốn sách được yêu thích nhất</div>
    </div>
    <div class="row">
      <% if @top_is_favorite_books.any? %>
        <% @top_is_favorite_books.each do |book| %>
          <div class="col-xs-6 col-sm-3">
            <figure>
                  <%= link_to book_path(book.id) do %>
                    <%= image_tag book.image.url, class: "book_cover top4", alt: "#{book.title}" %>
                  <% end %>
            </figure>
            <h6><%= link_to book.title, book_path(book.id) %></h6>
            <p><span style="white-space: pre-line"><%= book.summary %></span></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
