<section class="best-of-the-week">
  <div class="container">
    <div class="line">
      <div>Top 4 cuốn sách được yêu thích nhất</div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <img src="/assets/Bat-song-cam-xuc.jpg" alt="Bat song cam xuc" class="book_cover_top4">
        <h6><a href="single.html">Tiêu đề sách</a></h2>
        <p>Phần nội dung tóm tắt của sách sẽ được hiển thị tại đây.</p>
      </div>
      <div class="col-xs-6 col-sm-3">
        <img src="/assets/Bi-mat-tu-duy-trieu-phu.jpg" alt="" class="book_cover_top4">
        <h6><a href="single.html">Tiêu đề sách</a></h2>
        <p>Phần nội dung tóm tắt của sách sẽ được hiển thị tại đây.</p>
      </div>
      <div class="col-xs-6 col-sm-3">
        <img src="/assets/toi-tai-gioi.jpg" alt="" class="book_cover_top4">
        <h6><a href="single.html">Tiêu đề sách</a></h2>
        <p>Phần nội dung tóm tắt của sách sẽ được hiển thị tại đây.</p>
      </div>
      <div class="col-xs-6 col-sm-3">
        <img src="/assets/doi_don_gian_khi_ta_don_gian.jpg" alt="" class="book_cover_top4">
        <h6><a href="single.html">Tiêu đề sách</a></h2>
        <p>Phần nội dung tóm tắt của sách sẽ được hiển thị tại đây.Phần nội dung tóm tắt của sách sẽ được hiển thị tại đây.Phần nội dung tóm tắt của sách sẽ được hiển thị tại đây.Phần nội dung tóm tắt của sách sẽ được hiển thị tại đây.Phần nội dung tóm tắt của sách sẽ được hiển thị tại đây.Phần nội dung tóm tắt của sách sẽ được hiển thị tại đây.</p>
      </div>
    </div>
  </div>
</section>
